* {
  font-family: helvetica, sans-serif;
  font-size: 13px; }

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #f7f7f7; }

.navigateTop {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-around; }

.navigate {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigate .leftSideBoxes {
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
    height: 50px;
    width: 100%;
    color: black; }
    .navigate .leftSideBoxes h3 {
      font-size: 16px; }
    .navigate .leftSideBoxes a {
      margin-left: 15px;
      color: black; }

.joinBox {
  width: 205px;
  height: 40px; }

.helpBox {
  width: 49px;
  height: 40px; }

.cartBox {
  width: 34px;
  height: 26px; }

.flagBox {
  width: 14px;
  height: 30px; }

.nikeBox {
  width: 103px;
  height: 40px;
  border: 1px solid green; }

.jBox {
  width: 72px;
  height: 40px;
  border: 1px solid green; }

.hurleyBox {
  width: 100px;
  height: 40px;
  border: 1px solid green; }

.converseBox {
  width: 133px;
  height: 40px;
  border: 1px solid green; }

.navigate {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #777; }
  .navigate .menu-hamburger {
    display: none; }
    .navigate .menu-hamburger img {
      width: 20px; }
  .navigate .logo img {
    height: 50px;
    width: auto; }
  .navigate .navigation-links {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigate .navigation-links div {
      margin-right: 15px; }
    .navigate .navigation-links div:last-child {
      color: red; }
  .navigate .nav-right-options {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigate .nav-right-options .mobile-search {
      display: none; }
    .navigate .nav-right-options img {
      width: 20px; }
    .navigate .nav-right-options .search-bar {
      display: flex;
      align-items: center;
      padding: 5px;
      width: 125px;
      border: 1px solid #ddd; }
    .navigate .nav-right-options input {
      width: 90px;
      border: none; }
    .navigate .nav-right-options a {
      text-decoration: none;
      color: #777;
      margin: 0px 10px; }

@media screen and (max-width: 768px) {
  .navigate .navigation-links {
    display: none; }

  .navigate .menu-hamburger {
    display: inline-block; }

  .navigate .nav-right-options a {
    display: none; }

  .navigate .nav-right-options .search-bar {
    display: none; }

  .navigate .nav-right-options .mobile-search {
    display: inline-block; } }
@media screen and (max-width: 425px) {
  .navigate .logo img {
    display: none; } }
* {
  box-sizing: border-box;
  border: 1px solid red; }

.left .left-photos {
  position: relative;
  box-sizing: border-box;
  width: 50%; }
.left img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  width: 50%; }

.shop-btn {
  width: 100%;
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center; }

.shop-btn div {
  border: 1px solid #FFF;
  background-color: #FFF; }

.shop-btn a {
  display: inline-block;
  padding: 8px 25px 7px;
  text-decoration: none;
  color: black; }

/*# sourceMappingURL=output.css.map */
