* {
  font-family: helvetica, sans-serif;
  font-size: 13px; }

.navParent {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey; }
  .navParent img {
    width: 100%; }

.navigateLeft {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.navigateRight {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.navigate {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #f7f7f7;
  border-bottom: 1px solid lightgrey; }

.joinBox {
  width: 205px;
  height: 20px; }
  .joinBox a {
    color: lightgrey;
    text-decoration: none; }
  .joinBox a:hover {
    color: black; }

.helpBox {
  width: 49px;
  height: 20px; }
  .helpBox a {
    color: lightgrey;
    text-decoration: none; }
  .helpBox a:hover {
    color: black; }

.cartBox {
  width: 30px;
  height: 40px;
  margin-right: 15px; }

.flagBox {
  width: 20px;
  height: 30px;
  margin-right: 15px; }

.nikeBox {
  width: 103px;
  height: 40px; }

.jBox {
  width: 72px;
  height: 40px; }

.hurleyBox {
  width: 100px;
  height: 40px; }

.converseBox {
  width: 133px;
  height: 40px; }

.navigate {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #777; }
  .navigate .menu-hamburger {
    display: none; }
    .navigate .menu-hamburger img {
      width: 20px; }
  .navigate .logo img {
    margin-left: 30px;
    height: 40px;
    width: auto; }
  .navigate .navigation-links {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigate .navigation-links div {
      margin-right: 15px; }
  .navigate .nav-right-options {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigate .nav-right-options .mobile-search {
      display: none; }
    .navigate .nav-right-options img {
      width: 20px; }
    .navigate .nav-right-options .search-bar {
      display: flex;
      align-items: center;
      margin-right: 15px;
      padding: 5px;
      width: 200px;
      border: 1px solid #ddd; }
    .navigate .nav-right-options input {
      width: 90px;
      border: none; }
    .navigate .nav-right-options a {
      text-decoration: none;
      color: #777;
      margin: 0px 10px; }

@media screen and (max-width: 768px) {
  .navigate .navigation-links {
    display: none; }

  .navigate .nav-right-options a {
    display: none; }

  .navigate .nav-right-options .search-bar {
    display: none; }

  .navigate .nav-right-options .mobile-search {
    display: inline-block; } }
* {
  box-sizing: border-box; }

.parent {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-left: 100px;
  margin-right: 100px;
  length: auto;
  bottom: 0px; }
  .parent .left {
    display: flex;
    width: 50%;
    flex-wrap: wrap; }
    .parent .left .onFoot {
      margin-top: 15%; }
  .parent .right {
    display: flex;
    margin-left: 190px;
    width: 39%;
    flex-wrap: wrap;
    margin-bottom: 10px; }
    .parent .right .rightText {
      text-align: center;
      width: 100%;
      length: 50px;
      height: 20px; }
    .parent .right .colorWay {
      margin-top: -850px;
      width: 100%; }
      .parent .right .colorWay .smallShoes {
        margin-left: 30%; }
      .parent .right .colorWay img {
        margin-left: 20%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end; }
      .parent .right .colorWay .smallShoes {
        margin-left: 25%; }
    .parent .right form {
      width: 100%;
      margin-top: 50px;
      text-align: center; }
    .parent .right h3 {
      margin-left: auto;
      width: 100%;
      text-align: center; }
    .parent .right ul {
      margin-left: auto;
      width: 100%;
      text-align: center;
      list-style-type: none; }

.bottomParent {
  display: flex;
  width: 93vw;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-bottom: 200px; }

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 350px;
  background-color: black;
  color: white;
  text-align: center; }

@media screen and (max-width: 1995px) {
  .parent {
    width: 100%;
    display: flex;
    flex-direction: column; }

  .rightText {
    width: 100%;
    display: flex;
    flex-direction: column; } }
@media screen and (max-width: 768px) {
  .navigateLeft {
    display: none; }

  .navigateRight {
    display: none; }

  .banner {
    display: none; }

  .rightText {
    display: none; }

  .colorWay {
    display: none; }

  .bottomParent {
    margin-left: 13%; }

  .footer {
    display: none; } }
form {
  margin-top: 50px;
  text-align: center; }

/*# sourceMappingURL=output.css.map */
