@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-left-side {
  display: flex;
  justify-content:flex-start;
  align-items: space-between;
}

@mixin flex-right-side {
  display: flex;
  justify-content:flex-end;
  align-items: space-between;
}


.navParent{
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  img{
    width: 100%;
    // height: auto;
  }

}
.navigateLeft{
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.navigateRight{
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.navigate{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  @include flex-centered;
  height: 70px;
  width: 100%;
  background-color:rgb(247, 247, 247);
  border-bottom: 1px solid lightgrey;
}

.joinBox{
  width: 205px;
  height:20px;
    a{
      color:lightgrey;
      text-decoration: none;
    }
    a:hover{
      color: black;
    }
}

.helpBox {
  width: 49px;
  height: 20px;
  a{
    color:lightgrey;
    text-decoration: none;
  }
  a:hover{
    color: black;
  }
}

.cartBox {
  width: 30px;
  height: 40px;
  margin-right: 15px;
}

.flagBox {
  width: 20px;
  height: 30px;
  margin-right: 15px;

}

.nikeBox {
  width: 103px;
  height: 40px;
  }


.jBox {
  width: 72px;
  height: 40px;

}

.hurleyBox {
  width: 100px;
  height: 40px;

}

.converseBox {
  width: 133px;
  height: 40px;

}


.navigate {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #777;
  .menu-hamburger {
    display : none;
    img {
      width: 20px;
    }
  }
  .logo {
    img {
      margin-left: 30px;
      height: 40px;
      width: auto;
    }
  }
  
  .navigation-links {
    @include flex-centered;
    div {
      margin-right: 15px;
    }

  }
  .nav-right-options {
    @include flex-centered;
    .mobile-search {
      display: none;
    }

    img {
      width: 20px;
    }
    .search-bar {
      display: flex;
      align-items: center;
      padding: 5px;
      width: 125px;
      border: 1px solid #ddd;
    }
    input {
      width: 90px;
      border: none;
    }
    a {
      text-decoration: none;
      color: #777;
      margin: 0px 10px;
    }
  }
}

@media screen and (max-width : 768px) {
  .navigate .navigation-links {
    display: none;
  }
  .navigate .menu-hamburger{
    display: inline-block;
  }
  .navigate .nav-right-options a {
    display:none;
  }
  .navigate .nav-right-options .search-bar {
    display: none;
  }
  .navigate .nav-right-options .mobile-search {
    display: inline-block;
  }
}

@media screen and (max-width: 425px) {
    .navigate .logo  img{
      display: none;
    }

    // .navigate .logo img[src="imgs/babyHeart.gif"] {
    //   display: inline-block;
    // }

  }
