* {
  box-sizing: border-box;
  border: 1px solid red
}

  .left{
     // @include flex-cat;
    .left-photos{
      position: relative;
      box-sizing: border-box;
      width:50%
      // padding: 10px 0px;
    }
    img{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-between;

      width: 50%;
    }
  }
