* {
  box-sizing: border-box;
  border: 1px solid red
}

.parent {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-left: 100px;;
  margin-right: 100px;
  length: auto;
  bottom: 0px;
  .left{
    display: flex;
    width: 50%;
    flex-wrap: wrap;

    .onFoot {
      margin-top: 15%;
    }
  }
  .right{
    display: flex;
    margin-left: 190px;
    width: 39%;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .rightText{
      text-align: center;

      width: 100%;
      length: 50px;
      height: 20px;
    }

    .colorWay{
      margin-top: -850px;

      width: 100%;
      .smallShoes{
        margin-left: 30%;
      }
      img{
        margin-left: 20%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      .smallShoes {
        margin-left: 25%;
      }
    }
    form {
      width: 100%;
      margin-top: 50px;
      text-align: center;
    }
    h3 {
      margin-left: auto;
      width: 100%;
      text-align: center;
    }
    ul {
      margin-left: auto;
      width: 100%;
      text-align: center;
      list-style-type: none;
    }
  }
}

.bottomParent {
  display: flex;
  width:93vw;
  justify-content: center;
  align-items: center;
  margin-right: 100px;;
  margin-bottom: 200px;

}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 350px;
  background-color: black;
  color: white;
  text-align: center;
}

@media screen and (max-width : 1995px) {
  .parent {
    @include flex-full-width;
  }
  .rightText {
    @include flex-full-width;
  }
}

@media screen and (max-width:768px){
  .navigateLeft{
    display: none;
  }
  .navigateRight {
    display: none;
  }
  .navigate {
    @include flex-full-width;
    .searchBar {
      display: none;
    }

  }
  .banner {
    display: none;
  }
  .rightText {
    display: none;
  }
  .colorWay {
    display: none;
  }
  .bottomParent {
    margin-left: 13%;
  }
  .footer {
    display: none;
  }
}
