* {
  box-sizing: border-box;
  border: 1px solid red
}


  .left{
      display: flex;
      width: 50vw;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }

  .right{
    // margin-top: 15px;
    // display: flex;
    width: 40vw;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // align-items: center;
    // width:48%;
    // height: 60%;
  }
