.shop-btn {
  width: 100%;
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
}

.shop-btn div {
  border: 1px solid #FFF;
  background-color: #FFF;
}
.shop-btn a {
  display: inline-block;
  padding: 8px 25px 7px;
  text-decoration: none;
  color: black;
}
